
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background: #dfa7e0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  color:#fff;
  padding-left: 15px;
  background: #BA55D3;
  line-height:50px; 
}
.menu ul {
  width: 100%;
  list-style: none;  
  background:#BA55D3; 
  height: 50px; 
  

}
 a {
  text-decoration: none; 
  background:#BA55D3; 
  color:#fff; 
  padding:0px 15px; 
  font-family: arial;
  text-align:center;
  line-height:50px; 
  display: block; 
  border-right: 1px solid #BA55D3; 
  -moz-transition: all 0.3s 0.01s ease; 
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:#dfa7e0;
}
.menu li {
  float:left; 
}

.tableBlack{
  
  border: 1px solid #000;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;

}

.tableBlack td{   
  border: 1px solid black;
  padding: 5px 0px 5px 10px;
}

input[type=submit] {
  background-color: #BA55D3;
  color: white;
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: center;
}
.for {
text-align: center;;
margin-top:5%;
}
.back{
  margin-top: 5%;
}

